[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2021.10.8"
chardet = "==4.0.0"
charset-normalizer = "==2.0.6"
colorama = "==0.4.4"
commonmark = "==0.9.1"
configparser = "==5.0.2"
crayons = "==0.4.0"
et-xmlfile = "==1.1.0"
idna = "==3.2"
mypy = "==0.910"
mypy-extensions = "==0.4.3"
openpyxl = "==3.0.9"
pdfkit = "==0.6.1"
pycodestyle = "==2.8.0"
pywin32 = "==302"
requests = "==2.26.0"
rich = "==10.12.0"
selenium = "==3.141.0"
toml = "==0.10.2"
typing-extensions = "==3.10.0.2"
urllib3 = "==1.26.7"
webdriver-manager = "==3.5.0"
Pygments = "==2.10.0"
cx-oracle = "*"
xlsxwriter = "*"

[dev-packages]
ipython = "*"
autopep8 = "*"
black = "*"

[requires]
python_version = "3.10"
